<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <nav>
    <p><a href="/">Catalog</a></p>
    <p><a href="/backlog">Backlog</a></p>
  </nav>
  <body>

    <section id="add-remove-buttons">
      <form action="/backlog" method="post">
        <input type="submit" name="add" value="Add a book">
      </form>
    </section>

    <table>
      <thead>
        <tr>
          <% headers.map((header) => { %>
            <th><%= header %></th>
          <% }) %> 
            <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <% backlog.map((book) => { %>
          <tr>
            <% for (let key in book) { %>
              <td><%= book[key] %></td>
            <% } %>
            <td>
              <div id="edit-delete-icons-container">
                <form action="/backlog/updateBook" method="post">
                  <input type="hidden" name="title" value="<%= book.title %>">
                  <button type="submit">
                    <span class="material-icons">edit</span>
                  </button>
                </form>
                <form action="/backlog/deleteBook" method="post">
                  <input type="hidden" name="title" value="<%= book.title %>">
                  <button type="submit">
                    <span class="material-icons">delete</span>
                  </button>
                </form>
              </div>
            </td>
          </tr> 
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
